.main {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.main #login {
  display: block;
  margin: auto;
  width: 33%;
  height: 275px;
  background: cornflowerblue;
}

.main #register {
  display: block;
  margin: auto;
  width: 33%;
  height: 275px;
  background: cornflowerblue;
}

h1 {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  width: 150%;
  margin-left: -25%;
  font-size: 24px;
}

