:root {
  --size: 24px;
}

.newfile {
  margin: 30px;
}

.paper {
  display: block;
  background: wheat;
  width: 45%;
  height: 1100px;
  margin-left: 50%;
  margin: auto;
}

textarea {
  font-size: var(--size);
  position: relative;
  display: block;
  background: wheat;
  border: none;
  margin: auto;
  top: 80px;
  height: 925px;
  width: 85%;
  resize: none;
  outline: none;
}

#font-window, #image-window, #zoom-window {
  display: none;
  position: absolute;
  background: whitesmoke;
  top: 50px;
  left: 33%;
  height: 400px;
  width: 33%;
}

#font-window div {
  display: grid;
  list-style-type: none;
  font-size: large;
  grid-template-rows: auto;
}

