.toolbar {
  background: whitesmoke;
}

.dropdown {
  font-size: larger;
}

.list-items > .list-item {
  display: inline;
	padding: 0 20px 0 20px;
}

.list-item:hover {
  background: rgb(172, 172, 172);
}
