.toolbar {
  background: whitesmoke;
}

.dropdown {
  display: none;
  position: absolute;
  font-size: larger;
  list-style-type: none;
  z-index: 1;
}

.list-items > .list-item {
  display: inline;
  padding: 0 15px 0 15px;
}

.list-item:hover .dropdown {
  display: inline-block;
}
