.toolbar {
  background: whitesmoke;
}

ul > li {
  display: inline;
  list-style-type: none;
  font-size: large;
  margin-left: 15px;
}

.dropdown {
  display: none;
  font-size: larger;
  z-index: 1;
}

li:hover .dropdown {
  display: block;
}